*{
    margin: 0;
    padding: 0;
}


 /* position: relative; 
 position: absolute; */

 :root{
    --color: blue
 }

 h1 {
    color: var(--color);
 }

 p{
    color: var(--color);
 }
 span{
    color: var(--color);
 }